@{
    ViewBag.Title = "suspendOptimization";
}

<h2>@this.LclRes("Go back to") @Html.ActionLink(this.LclRes("tutorial menu"), "index", "tutorial")</h2>

<h4>
    @this.LclRes("String1")
</h4>

<h4>
    @this.LclRes("String2")
</h4>

<h4>
    @this.LclRes("String3")
</h4>

<h4>
    @this.LclRes("String4")
</h4>

<h4>
    @this.LclRes("String5")
</h4>
