@{
    ViewBag.Title = "accAndExeTransactionTutorial";
}

<h2>@this.LclRes("Go back to") @Html.ActionLink(this.LclRes("tutorial menu"), "index", "tutorial")</h2>

<h3>@this.LclRes("String1")</h3>
<img src="@Url.Content(this.LclRes("Img1"))" alt="account and execute transaction pic"/>
<br />

<h3>@this.LclRes("String2")</h3>
<img src="@Url.Content(this.LclRes("Img2"))" alt="account and execute transaction pic"/>
<br />

<h3>@this.LclRes("String3")</h3>
<img src="@Url.Content(this.LclRes("Img3"))" alt="account and execute transaction pic"/>
<br />

<h3>@this.LclRes("String4")</h3>
<img src="@Url.Content(this.LclRes("Img4"))" alt="account and execute transaction pic"/>
<br />

<h3>@this.LclRes("String5")</h3>
<img src="@Url.Content(this.LclRes("Img5"))" alt="account and execute transaction pic"/>
<br />

<h3>@this.LclRes("String6")</h3>
<img src="@Url.Content(this.LclRes("Img6"))" alt="account and execute transaction pic"/>
<br />



