@{
    ViewBag.Title = "createNewTransactionTutorial";
}

<h2>Go back to @Html.ActionLink("tutorial menu", "index", "tutorial")</h2>

<h3>@this.LclRes("String1")</h3>
<img src="@Url.Content("~/Images/tutorial/createNewTransactionTutorial1.jpg")" alt="create new transaction tutorial pic"/>
<br />

<h3>@this.LclRes("String2")</h3>
<img src="@Url.Content("~/Images/tutorial/createNewTransactionTutorial2.jpg")" alt="create new transaction tutorial pic"/>
<br />

<h3>@this.LclRes("String3")</h3>
<img src="@Url.Content("~/Images/tutorial/createNewTransactionTutorial3.jpg")" alt="create new transaction tutorial pic"/>
<br />

<h3>@this.LclRes("String4")</h3>
<img src="@Url.Content("~/Images/tutorial/createNewTransactionTutorial4.jpg")" alt="create new transaction tutorial pic"/>
<br />

<h3>@this.LclRes("String5")</h3>
<h3>@this.LclRes("String6")</h3>
<img src="@Url.Content("~/Images/tutorial/createNewTransactionTutorial5.jpg")" alt="create new transaction tutorial pic"/>
<br />

