@{
    ViewBag.Title = "HowItWorksCartoon";
}

<h2>@this.LclRes("Go back to") @Html.ActionLink("tutorial menu", "index", "tutorial")</h2>

<h4>@this.LclRes("String1")</h4>
<img src="@Url.Content(this.LclRes("Img1"))" alt="how it works cartoon"/>
<br />
<img src="@Url.Content(this.LclRes("Img2"))" alt="how it works cartoon"/>
<br />
<img src="@Url.Content(this.LclRes("Img3"))" alt="how it works cartoon"/>
<br />
<img src="@Url.Content(this.LclRes("Img4"))" alt="how it works cartoon"/>
<br />
<img src="@Url.Content(this.LclRes("Img5"))" alt="how it works cartoon"/>
<br />
