<h3>@this.LclRes("String1")</h3>
<dd>
    @this.LclRes("String2")
</dd>

<h3>2. @Html.ActionLink(this.LclRes("How it works? (cartoon)"), "HowItWorksCartoon", "tutorial")</h3>

<h3>@this.LclRes("String3")</h3>
<h4>@this.LclRes("String4")</h4>
<dd>@this.LclRes("String5")</dd>

<h4>@this.LclRes("String6")</h4>
<dd>
    <li>@Html.ActionLink(this.LclRes("String7"), "whyUErrorToMeCartooon", "tutorial")</li>
    <li>@this.LclRes("String8")</li>
    <li>@this.LclRes("String9")</li>
    <li>@this.LclRes("String10")</li> @* kurwa jak to brzmi //TODO zmienić to *@
</dd>

<h4>@this.LclRes("String11")</h4>
<dd>
    <li>@this.LclRes("String12")</li>
    <li>@this.LclRes("String13")</li>
</dd>

<h3>s
@this.LclRes("String14")
</h3>

<h4>
    <dd>
        <li>@Html.ActionLink(this.LclRes("String15"), "friendlistTutorial", "Tutorial")</li>
        <li>@Html.ActionLink(this.LclRes("String16"), "createNewTransaction", "Tutorial")</li>
        <li>@Html.ActionLink(this.LclRes("String17"), "accAndExeTransactionTutorial", "Tutorial")</li>
        <li>@Html.ActionLink(this.LclRes("String18"), "suspendOptimization", "Tutorial")</li>
    </dd>
</h4>
